#### Imports

In [6]:
import numpy as np
import pandas as pd
from pandas_datareader import data as web
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline
import datetime as dt
import mplfinance as mpf

#### Function that Saves Stock Data to CSV

In [7]:
def save_to_csv_from_yahoo(ticker, syear, smonth, sday, eyear, emonth, eday):
    start = dt.datetime(syear, smonth, sday)
    end = dt.datetime(eyear, emonth, eday)

    df = web.DataReader(ticker, 'yahoo', start, end)
# Saving the file from internet to the computer (to file path Ctrl+L in the folder)
    df.to_csv("/home/johnson/DSML/Finance.py/" + ticker + ".csv")
    return df
# Test with the test function.

#### Function that Returns a Dataframe from CSV

In [10]:
def get_df_from_csv(ticker):
    try:
        df = pd.read_csv("/home/johnson/DSML/Finance.py/" + ticker + ".csv")

    except FileNotFoundError:
        print("File doesn't Exists")
    else:
        return df

#### Add Daily Return to Dataframe

In [12]:
# We calculate a percentage rate of return for each day to compare investments.
# Simple Rate of Return = (End Price - Beginning Price) / Beginning Price or (EP/BP)-1

def add_daily_return_to_df(df, ticker):
     df['daily_return'] = (df['Adj Close'] / df['Adj Close'].shift(1)) - 1
     df.to_csv("/home/johnson/DSML/Finance.py/" + ticker + ".csv")
     return df

#### Test Function

In [13]:
save_to_csv_from_yahoo('AMZN', 2021, 1, 1, 2022, 1, 1)

AMZN = get_df_from_csv('AMZN')

add_daily_return_to_df(AMZN, 'AMZN')

AMZN

,Date,High,Low,Open,Close,Volume,Adj Close,daily_return
0,2020-12-31,3282.919922,3241.199951,3275.000000,3256.929932,2957200,3256.929932,NaN
1,2021-01-04,3272.000000,3144.020020,3270.000000,3186.629883,4411400,3186.629883,-0.021585
2,2021-01-05,3223.379883,3165.060059,3166.010010,3218.510010,2655500,3218.510010,0.010004
3,2021-01-06,3197.510010,3131.159912,3146.479980,3138.379883,4394800,3138.379883,-0.024897
4,2021-01-07,3208.540039,3155.000000,3157.000000,3162.159912,3514500,3162.159912,0.007577
...,...,...,...,...,...,...,...,...
248,2021-12-27,3458.860107,3384.310059,3420.739990,3393.389893,2934400,3393.389893,-0.008178
249,2021-12-28,3443.520020,3382.709961,3403.649902,3413.219971,2731900,3413.219971,0.005844
250,2021-12-29,3424.239990,3372.010010,3416.800049,3384.020020,1787700,3384.020020,-0.008555
251,2021-12-30,3417.760010,3370.479980,3394.000000,3372.889893,1879200,3372.889893,-0.003289
252,2021-12-31,3387.000000,3331.169922,3379.120117,3334.340088,2391500,3334.340088,-0.011429